@font-face {
    font-family: "Example 0";
    //src: url("../assets/fonts/name-light.woff2") format("woff2"),
    //    url("../assets/fonts/name-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Example 2";
    //src: url("../assets/fonts/name-book.woff2") format("woff2"),
    //    url("../assets/fonts/name-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Example 3";
    //src: url("../assets/fonts/name.woff2") format("woff2"),
    //    url("../assets/fonts/name-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
