@import "fonts.module";

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: "YOUR FONT NAME HERE", Helvetica, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
}
